@import '@/app/styles/App.variables.scss';

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.info {
  flex: 1 1 auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  .productTitle {
    margin-bottom: 16px;
  }
}

.mainImg {
  flex: 0 0 520px;
  margin-bottom: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}

.price {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  padding-right: 24px;
  margin-bottom: 24px;
}

@media(max-width: 992px) {
  .content {
    display: block;
  }
  .imgWrapper {
    width: 100%;
  }
}
