@import '@/app/styles/App.variables.scss';

.menuList {
  li {
    margin-bottom: 30px;
  }
}

.menuLink {
  font-weight: 400;
  letter-spacing: 0.03em;
  transition: all 0.3s ease 0s;
  align-items: center;
  color: rgba(0,0,0,.67);
  font-size: 20px;
  font-weight: 500;
}

.menuLink:hover {
  color: $red;
}
